{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "template.njk" %}

{% block content %}

<h1 class="govuk-heading-xl">Welcome to your dev test!</h1>

<h2 class="govuk-heading-m">Create task</h2>

{% if errorMessage %}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>

{% endif %}

<form method="post" action="/tasks" class="govuk-!-margin-bottom-8">

  <div class="govuk-form-group">
    <label class="govuk-label" for="title">Title</label>
    <input class="govuk-input" id="title" name="title" type="text" required>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="description">Description</label>
    <textarea class="govuk-textarea" id="description" name="description"></textarea>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="status">Status</label>
    <select class="govuk-select" id="status" name="status">
      <option value="TODO">TODO</option>
      <option value="IN_PROGRESS">IN_PROGRESS</option>
      <option value="DONE">DONE</option>
    </select>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="dueDate">Due date/time</label>
    <input class="govuk-input" id="dueDate" name="dueDate" type="datetime-local" min="{{ now }}" required>
  </div>

  <button class="govuk-button" data-module="govuk-button" type="submit">
    Create task
  </button>

</form>

<h2 class="govuk-heading-m">Tasks</h2>

<table class="govuk-table">

<thead>
<tr class="govuk-table__row">
<th class="govuk-table__header">ID</th>
<th class="govuk-table__header">Title</th>
<th class="govuk-table__header">Description</th>
<th class="govuk-table__header">Status</th>
<th class="govuk-table__header">Due Date</th>
<th class="govuk-table__header">Action</th>
</tr>
</thead>

<tbody>

{% for task in tasks %}

<tr class="govuk-table__row">
<td class="govuk-table__cell">{{ task.id }}</td>
<td class="govuk-table__cell">{{ task.title }}</td>
<td class="govuk-table__cell">{{ task.description }}</td>
<td class="govuk-table__cell">

{% if task.status == "DONE" %}
<strong class="govuk-tag govuk-tag--green">DONE</strong>

{% elif task.status == "IN_PROGRESS" %}
<strong class="govuk-tag govuk-tag--blue">IN PROGRESS</strong>

{% else %}
<strong class="govuk-tag govuk-tag--grey">TODO</strong>
{% endif %}

</td>
<td class="govuk-table__cell">{{ task.dueDate }}</td>
<td class="govuk-table__cell">

  <form method="post" action="/tasks/{{ task.id }}/done" style="display:inline;">
    <button class="govuk-button govuk-button--secondary" type="submit">
      Mark DONE
    </button>
  </form>

  <form method="post" action="/tasks/{{ task.id }}/delete" style="display:inline;">
    <button class="govuk-button govuk-button--warning" type="submit">
      Delete
    </button>
  </form>

</td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}